<app-button class="close" content="close" icon="fa-times-circle" aling="end" hovercolor="#14b2b8" colorletter="#36606e" pd="0 0.6vw">
</app-button>
<div class="content">
  <span class="title">HAFN-IT CLOUD CONNECT</span>
  <span class="subtitle">Die IST-Analyse zur Aufwandsevaluation</span>
  <div class="groupbutton">
    <p>
      <app-button content="MANAGED SERVICES" icon="fa-tag" aling="end" hovercolor="#36606e" colorletter="#36606e" pd="0 0.6vw">
      </app-button>
    </p>
    <p>
      <app-button content="MODERN WORKPLACE" icon="fa-tag" aling="end" hovercolor="#36606e" colorletter="#36606e" pd="0 0.6vw">
      </app-button>
    </p>
  </div>
</div>
